*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#3591ce7b),url(images/photo1.PNG);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
 font-size: 130px;
 font-family: 'Kaushan Script', cursive;
}
.banner-text p{
  font-size: 20px;
  font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none ;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color o.5s;
    border-radius: 5px;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color:black;
}
.taskbar{
    width: 96%;
    height:50px;
    position: absolute;
    border-radius:10px;
    z-index: 3;
    left: 2%;
    top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.153);
    background-color: #ffffff41;
}
.taskbar img{
    width: 60px;
    margin: 5px;
}
.logo-text{
    position: absolute;
    top: 35%;
    left: 17%;
    font-size: 90%
}
.search{
    position: absolute;
    height: 30px;
    width: 50px;
    top: 7.5%;
    left: 30%;
}
#search-bar{
    position: absolute;
    top: 20%;
    height: 30px;
    width: 150px;
    background-color: #4ea0e400;
    border: 1px solid rgba(0, 0, 0, 0.117);
    border-color: #0000004c;
    border-radius: 30px;
    font-size: 100%;
    text-align: center;
}
#search-button{
    width: 30px;
    height: 30px;
    top: 25%;
    position: absolute;
    left: 110px;
    background-color: #357ace00;
    border: 1px solid black;
    border-color: #357ace00;
}
#search-button img{
    width: 20px;
    height: 20px;
}
#suggestions {
list-style-type: none;
background-color: #ffffff86;
width: 200px;
margin: 0;
padding-left: 15px;
padding-top: 15px;
margin-top: 7vh;
display: none;
border-radius: 20px;
text-decoration: none ;
}
#suggestions li {
background-color: #0044bb68;
height: 40px;
width: 160px;
padding: 11px;
padding-top: 2px;
cursor: pointer;
border-radius: 10px;
margin-bottom:25px;
text-decoration: none;
display: inline-block;
}
#suggestions li a {
color: #000000;
text-decoration: none;
width: 200%;
height: 200%;
font-weight: bolder;
}

#suggestions li:hover {
background-color: #0045bb;
}
.search-bar-active #suggestions {
display: block; /* Show the suggestions box when search bar is active */
}







.sign-in{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 0%;
    left: 260px; 
}

.sign-in img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 5;
}
#contact{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 0%;
    left: 295px;
    z-index: 5;
}

#contact img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 5;
}
#contactnav{
    width: 150px;
    height: 10vh;
    right: -500px;
    top: 8.5vh;
    background: #ffffff7a;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 10px;
    position: fixed;
    transition: 0.5s ease-in-out;

}
#contactnav nav ul{
    margin-top: 0px;
}

#contactnav nav ul li{
    width: 110px;
    list-style: none;
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 100%;
    margin-left: 20px;
}





#about{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 0%;
    left: 330px; 
    z-index: 5;
}
#about img{ 
    width: 25px;
    height: 25px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 5;
}
#aboutnav{
    width: 150px;
    height: 10vh;
    right: -500px;
    top: 8.5vh;
    background: #ffffff7a;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 10px;
    position: fixed;
    transition: 0.5s ease-in-out;
}
#aboutnav nav ul{
    margin-top: 0px;
    
}

#aboutnav nav ul li{
    width: 110px;
    text-decoration: none;
    color: #000;
    font-size: 100%;
    margin-left: 20px;
    padding-top: 10px;
    list-style: none;
}

@media screen and  (max-width: 770px){
     .banner-text h1{
        font-size: 44px;
       }
     .banner-btn a{
        display: block;
        margin: 20px auto;
    }


}

